<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit "{{ .ContestInfo.Name }}" - CMOC Control Panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.wiilink24.com/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.wiilink24.com/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://www.wiilink24.com/img/favicon-16x16.png"
    />
    <link rel="manifest" href="https://www.wiilink24.com/img/site.webmanifest" />
    <link rel="mask-icon" href="https://www.wiilink24.com/img/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="https://www.wiilink24.com/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="https://www.wiilink24.com/img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://kit.fontawesome.com/e47ece3e74.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="dark:text-white dark:bg-slate-800">
    <main class="container py-20">
      <p class="hidden" id="contestId">{{ .ContestInfo.ContestId }}</p>
      <!-- <div class="fixed">
        <p id="contestId">{{ .ContestInfo.ContestId }}</p>
        <p id="name">{{ .ContestInfo.Name }}</p>
        <p id="status">{{ .ContestInfo.Status }}</p>
        <p id="hasSouvenir">{{ .ContestInfo.HasSouvenir }}</p>
        <p id="hasThumnail">{{ .ContestInfo.HasThumbnail }}</p>
        <p id="hasSpecialAward">{{ .ContestInfo.HasSpecialAward }}</p>
        <p id="openTime">{{ .ContestInfo.OpenTime }}</p>
        <p id="closeTime">{{ .ContestInfo.CloseTime }}</p>
      </div> -->

      <div class="pb-6 flex items-center justify-between">
        <div class="flex flex-row gap-3 items-center">
          <img
            src="https://www.wiilink24.com/img/IS-logo.png"
            class="!h-[60px] dark:invert"
          />
          <i
            class="fa-solid fa-chevron-right text-2xl cursor-pointer"
            onclick="toggleOpen('toggleOpen');"
          ></i>
          <div
            id="toggleOpen"
            class="p-2 flex-row items-center gap-3 rounded-xl bg-gray-50 dark:bg-slate-500 hidden"
          >
            <a href="/panel/contests"
              ><button
                class="p-2 hover:bg-gray-300 dark:hover:bg-slate-800 rounded-md transition-all"
              >
                <i class="fa-solid fa-flag-checkered"></i> Contests
              </button></a
            >
            |
            <a href="/panel/contests/add"
              ><button
                class="p-2 bg-gray-200 dark:bg-slate-600 hover:bg-gray-200 dark:hover:bg-slate-800 rounded-md transition-all"
              >
                <i class="fa-solid fa-circle-plus"></i> Add Contest
              </button></a
            >
            |
            <a href="/panel/plaza"
              ><button
                class="p-2 hover:bg-gray-200 dark:hover:bg-slate-800 rounded-md transition-all"
              >
                <i class="fa-solid fa-users"></i> Plaza
              </button></a
            >
            |
            <a href="/panel/artisans"
              ><button
                class="p-2 hover:bg-gray-200 dark:hover:bg-slate-800 rounded-md transition-all"
              >
                <i class="fa-solid fa-brush"></i> Mii Artisans
              </button></a
            >
          </div>
        </div>
        <h2 class="text-right text-lg">
          <b>CMOC</b><br />
          Control Panel
        </h2>
      </div>
      <hr class="pt-6" />
      <div class="flex items-center justify-between">
        <a
          class="col-span-2 inline-flex gap-3 items-center"
          href="/panel/contests"
          ><i class="fa-solid fa-chevron-left"></i>
          <p class="hover:underline">Return to Contests</p></a
        >
        <p class="opacity-50">
          CMOC <i class="fa-solid fa-caret-right"></i> Contests
          <i class="fa-solid fa-caret-right"></i> Edit Contest
          <i class="fa-solid fa-caret-right"></i> {{ .ContestInfo.ContestId }}
        </p>
      </div>
      <br />
      {{if .Error}}
      <p style="color: red">{{.Error}}</p>
      {{end}}
      <div
        class="w-100 h-50 p-20 rounded-3xl bg-[url('https://rc24.xyz/goodies/wallpapers/CMO_Channel_BG_orange_1600x900.png')] shadow-[0px 0px 60px #d3d68c60]"
      >
        <div
          class="p-2 rounded-3xl border-[5px] border-white bg-[rgb(76,130,163)] shadow-2xl z-10 relative"
        >
          <p class="ml-1 text-white text-lg">
            <span id="randomInt"></span> days remaining
          </p>
          <div class="mt-2 bg-white p-1 rounded-xl flex flex-row items-center">
            <img
              id="thumbnailPreview"
              src="{{if .ContestInfo.HasThumbnail}}/assets/contest/{{ .ContestInfo.ContestId }}/thumbnail.jpg{{else}}https://www.wiilink24.com/img/placeholder-portrait.png{{end}}"
              alt="Thumbnail Preview"
              class="p-1 mr-40 w-32 h-32 rounded-xl"
            />
            <h2
              id="contestName"
              class="col-start-1 col-span-full text-2xl text-black"
            >{{ .ContestInfo.Name }}</h2>
          </div>
        </div>
        <img
          id="souvenirPreview2"
          class="w-80 hidden rounded-3xl shadow-2xl z-0 absolute !right-0 -translate-x-full -translate-y-[70%] rotate-3 {{if .ContestInfo.HasSouvenir}}!block{{end}}"
          {{if .ContestInfo.HasSouvenir}}src="/assets/contest/{{ .ContestInfo.ContestId }}/souvenir.jpg"{{end}}
        />
      </div>
      <br />
      <br />
      <div
        class="w-full p-6 mb-8 bg-blue-400 rounded-lg flex flex-row items-center justify-center"
      >
        <i class="fa-solid fa-triangle-exclamation mr-3 text-xl"></i> You are
        currently <b class="ml-1 mr-1">editing</b> the Contest "
        <p id="name">{{ .ContestInfo.Name }}</p>
        " with ID "
        <p id="name">{{ .ContestInfo.ContestId }}</p>
        ".
      </div>
      <form
        action="/panel/contests/edit/{{ .ContestInfo.ContestId }}"
        method="post"
        enctype="multipart/form-data"
        id="editContestForm"
        class="col-start-1 col-span-full main_grid rounded-xl"
      >
        <div
          class="input col-start-1 col-span-8 p-2 border rounded-xl bg-neutral-100 dark:bg-slate-600 dark:border-slate-500"
        >
          <label>Contest Name</label>
          <input
            type="text"
            name="name"
            id="contestInputName"
            required
            value="{{ .ContestInfo.Name }}"
            placeholder="Contest Name"
            class="border rounded-lg p-2 text-black"
            oninput="updateContestName(event)"
          />
        </div>
        <div
          class="input col-start-9 col-span-4 p-2 border rounded-xl bg-neutral-100 dark:bg-slate-600 dark:border-slate-500"
        >
          <label class="flex items-center justify-between"
            >Open Time
            <i
              class="fa-regular fa-circle-question opacity-60 cursor-pointer"
              title="Polls will automatically close after a week of being created. They will be judged after a month."
            ></i
          ></label>
          <input
            type="date"
            name="open_time"
            required
            class="rounded-xl px-5 py-2 border border-slate-200 text-black"
            value="{{.ContestInfo.OpenTime.Format "2006-01-02"}}"
          />
        </div>
        <div
          class="input col-start-1 col-span-3 p-2 border rounded-xl bg-neutral-100 dark:bg-slate-600 dark:border-slate-500"
        >
          <span>Has Special Award?</span>
          <label class="inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              name="special_award"
              class="sr-only peer"
              {{if .ContestInfo.HasSpecialAward}}checked{{end}}
            />
            <div
              class="text-black relative w-full p-4 bg-gray-50 border rounded-xl hover:scale-105 hover:-rotate-1 transition-all peer peer-checked:-rotate-1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white before:content-['No'] peer-checked:after:content-['Yes'] peer-checked:before:content-[''] after:content-[''] after:text-white after:bg-blue-500 after:border-0 after:rounded-full after:transition-all peer-checked:bg-blue-500"
            ></div>
          </label>
        </div>
        <div
          class="input col-start-4 col-span-3 p-2 border rounded-xl bg-neutral-100 dark:bg-slate-600 dark:border-slate-500"
        >
          <span>Thumbnail</span>
          <input type="hidden" id="defaultImage" name="defaultImage" {{if .ContestInfo.HasThumbnail}}value="/assets/contest/{{ .ContestInfo.ContestId }}/thumbnail.jpg"{{end}}>
          <label
            class="bg-white cursor-pointer p-4 rounded-lg transition-all hover:bg-gray-200 dark:text-black flex items-center justify-between gap-3"
            ><i class="fa-solid fa-circle-plus"></i>Add file
            <input
              type="file"
              name="thumbnail"
              type="image/png"
              id="input1"
              class="hidden"
              onchange="previewImage(event, 'thumbnailPreview', 'thumbnailPreview2')"
            />
            <img
              id="thumbnailPreview2"
              class="w-5 scale-150 rounded-md hidden shadow-md rotate-3 {{if .ContestInfo.HasThumbnail}}!block{{end}}"
              {{if .ContestInfo.HasThumbnail}}src="/assets/contest/{{ .ContestInfo.ContestId }}/thumbnail.jpg"{{end}}
            />
          </label>
        </div>
        <div
          class="input col-start-7 col-span-6 p-2 border rounded-xl bg-neutral-100 dark:bg-slate-600 dark:border-slate-500"
        >
          <span>Souvenir</span>
          <input type="hidden" id="defaultImage2" name="defaultImage" {{if .ContestInfo.HasSouvenir}}value="/assets/contest/{{ .ContestInfo.ContestId }}/souvenir.jpg"{{end}}}>
          <label
            class="bg-white cursor-pointer p-4 rounded-lg transition-all hover:bg-gray-200 dark:text-black flex items-center justify-between gap-3"
            ><i class="fa-solid fa-circle-plus"></i>Add file
            <input
            type="file"
            name="souvenir"
            type="image/png"
            id="input2"
            class="hidden"
            onchange="previewImage(event, 'souvenirPreview', 'souvenirPreview2')"
          />
            <img
              id="souvenirPreview"
              class="w-5 scale-150 rounded-md hidden shadow-md rotate-3 {{if .ContestInfo.HasThumbnail}}!block{{end}}"
              {{if .ContestInfo.HasSouvenir}}src="/assets/contest/{{ .ContestInfo.ContestId }}/souvenir.jpg"{{end}}
            />
          </label>
        </div>
        <input
          type="submit"
          value="Save Changes"
          class="font-bold submit_button col-end-13 place-self-end"
        />
      </form>
      <br />
      <hr />
      <br />
      <p>©2020 - 2024 WiiLink Team</p>
    </main>
  </body>

  <script>
    document.getElementById('editContestForm').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the default form submission

      var formData = new FormData(this);
      var contestIdElement = document.getElementById('contestId');
      var contestId = contestIdElement.textContent;

      var defaultImageElement = document.getElementById('defaultImage');
      var defaultImageLink = defaultImageElement.value;

      var souvenirImageElement = document.getElementById('defaultImage2');
      var souvenirImageLink = souvenirImageElement.value;

      var input1 = document.getElementById('input1');
      var input2 = document.getElementById('input2');

      var processImage = function(imageLink, inputElement, formDataKey) {
        return new Promise((resolve, reject) => {
          if (!inputElement.value) {
            fetch(imageLink)
              .then(response => response.blob())
              .then(blob => {
                var filename = imageLink.split('/').pop(); // Extract filename from URL
                var newFile = new File([blob], filename, {type: blob.type});
                formData.append(formDataKey, newFile);
                resolve();
              })
              .catch(error => {
                console.error('Error fetching the image:', error);
                reject(error);
              });
          } else {
            resolve();
          }
        });
      };

      Promise.all([
        processImage(defaultImageLink, input1, 'thumbnail'),
        processImage(souvenirImageLink, input2, 'souvenir')
      ]).then(() => {
        for (var pair of formData.entries()) {
          console.log(pair[0]+ ': ' + pair[1]);
        }
        submitForm(formData, contestId);
      }).catch(error => {
        console.error('Error processing images:', error);
      });
    });

    function submitForm(formData, contestId) {
      const actionUrl = `/panel/contests/edit/${contestId}`;

      fetch(actionUrl, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        if (response.ok) {
          console.log('Form submitted successfully');
          window.location.href = '/panel/contests#edit_success';
        } else {
          console.error('Submission failed');
        }
      })
      .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
      });
    }

    function previewImage(event, id, id2) {
      const reader = new FileReader();
      reader.onload = function () {
        const output = document.getElementById(id);
        const output2 = document.getElementById(id2);
        output.src = reader.result;
        output2.src = reader.result;
        output.classList.remove("hidden");
        output2.classList.remove("hidden");
      };
      reader.readAsDataURL(event.target.files[0]);
    }

    function updateContestName(event) {
      document.getElementById("contestName").textContent = event.target.value;
    }

    document.addEventListener("DOMContentLoaded", function () {

      const ids = ["toggleOpen"];
      ids.forEach((id) => {
        const element = document.getElementById(id);
        const state = localStorage.getItem(id);
        if (state === "open") {
          element.style.display = "flex";
        } else if (state === "closed") {
          element.style.display = "none";
        }
      });

      document.getElementById("contestName").innerHTML = document.getElementById("contestInputName").value;

      document.getElementById("randomInt").innerHTML = Math.floor(
        Math.random() * (10 - 2 + 1) + 2
      );
    });

    function toggleOpen(id) {
      const element = document.getElementById(id);
      if (element.style.display === "none") {
        element.style.display = "flex";
        localStorage.setItem(id, "open");
      } else {
        element.style.display = "none";
        localStorage.setItem(id, "closed");
      }
    }
  </script>
</html>
