<!DOCTYPE html>
<html>
  <head>
    <title>Login - CMOC Control Panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.wiilink24.com/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.wiilink24.com/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://www.wiilink24.com/img/favicon-16x16.png"
    />
    <link rel="manifest" href="https://www.wiilink24.com/img/site.webmanifest" />
    <link rel="mask-icon" href="https://www.wiilink24.com/img/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="https://www.wiilink24.com/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="https://www.wiilink24.com/img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://kit.fontawesome.com/e47ece3e74.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="bg-white dark:bg-slate-800 dark:text-white flex items-center justify-center absolute w-full h-full"
  >
    <main
      class="flex flex-col items-center justify-center gap-3 relative w-[95%] max-w-lg"
    >
      <div class="flex items-center justify-between w-full">
        <img
          src="https://www.wiilink24.com/img/IS-logo.png"
          class="!h-[60px] dark:invert"
        />
        <h2 class="text-right text-lg">
          <b>CMOC</b><br />
          Control Panel
        </h2>
      </div>
      <p class="opacity-90 text-left mt-3">
        <i class="fa-solid fa-chevron-right"></i> With this tool you can create,
        modify and delete contests in the Check Mii Out Channel, as well as
        moderate submitted Miis.
      </p>
      <!-- {{if .Error}}
        <p style="color:red;">{{.Error}}</p>
        {{end}} -->
      <form
        action="/panel/login"
        method="post"
        class="mt-2 pt-6 flex flex-col gap-2 w-full border-t-2 border-black/10"
      >
        <div class="input">
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="bg-neutral-100 border dark:border-slate-600 dark:bg-slate-700 p-4 rounded-t-2xl rounded-b-lg"
          />
        </div>
        <div class="input">
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="bg-neutral-100 border dark:border-slate-600 dark:bg-slate-700 p-4 rounded-b-2xl rounded-t-lg"
          />
        </div>
        <p class="opacity-50 text-right mt-3">
          <i class="fa-solid fa-triangle-exclamation"></i> You must be logged in
          to access this tool.
        </p>
        <br />
        <input
          type="submit"
          value="Login"
          class="submit_button p-[18px]"

        />
      </form>
    </main>
  </body>
</html>
