<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaza | CMOC Control Panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e47ece3e74.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="container py-20 space-y-4">
        <div class="flex items-center justify-between">
        <img src="https://www.wiilink24.com/img/IS-logo.png" style="height:60px !important;">
        <h2 class="text-right text-lg"><b>CMOC</b><br> Control Panel</h2>
    </div>
    <br>
    <hr>
    <br>
        {{if .Error}}
        <p style="color:red;">{{.Error}}</p>
        {{end}}
        <h1>Artisans</h1>
        <h2>There are {{ .numberOfArtisans }} Artisan Miis.</h2>
        {{ range .Artisans }}
        <div class="flex gap-3 border">
            <h2>{{.ArtisanId}}</h2>
            <p>{{.Name}}</p>
            <p>{{.CountryId}}</p>
            <p>{{.WiiNumber}}</p>
            <p>{{.MacAddress}}</p>
            <p>{{.NumberOfPosts}}</p>
            <p>{{.TotalLikes}}</p>
            <p>{{.IsMaster}}</p>
            <p>{{.LastPost}}</p>
            <p>{{.MiiData}}</p>
        </div>
        {{end}}
    </main>
</body>
</html>